<div class="contextual">
	<% replace_watcher ||= 'watcher' %>
	<%= watcher_tag(@invoice, User.current, {:id => replace_watcher, :replace => ['watcher','watcher2']}) if false %>
	<%= link_to l(:button_edit), {:controller => 'invoices', :action => 'edit', :id => @invoice}, :class => 'icon icon-edit' if !@invoice.nil? && @invoice.editable_by?(User.current) %>
  <%= link_to l(:button_duplicate), {:controller => 'invoices', :action => 'new', :project_id => @project, :copy_from => @invoice }, :class => 'icon icon-duplicate' if User.current.allowed_to?(:add_invoices, @project) %>
	<%= link_to l(:button_send_mail), new_invoice_invoice_mail_path(:invoice_id => @invoice), :class => 'icon icon-email' if User.current.allowed_to?(:send_invoices, @project) %>
  <%= link_to_if_authorized l(:label_invoice_pdf), {:controller => 'invoices', :action => 'show', :id => @invoice, :format => 'pdf'}, :class => 'icon icon-pdf' unless @invoice.nil? %>
  <% if User.current.allowed_to?(:view_invoices, @project) %>
    <%= link_to l(:label_report_plural), { controller: 'invoice_reports', action: 'new', invoice_id: @invoice }, remote: true, method: 'get', class: 'icon icon-preview' %>
  <% end %>
  <%= link_to l(:label_invoice_add_payment), new_invoice_payment_path(:invoice_id => @invoice), :class => 'icon icon-add-payment' if User.current.allowed_to?(:edit_invoice_payments, @project) %>
	<%= link_to l(:button_delete), {:controller => 'invoices', :action => 'destroy', :id => @invoice}, :data => {:confirm => l(:text_are_you_sure)}, :method => :delete, :class => 'icon icon-del' if  !@invoice.nil? && @invoice.destroyable_by?(User.current) %>
</div>

<h2 class="inline-flex"><%= "#{@invoice.is_estimate? ? l(:label_estimate) : l(:label_invoice)} ##{@invoice.number}" %></h2>
<% if User.current.allowed_to?(:edit_invoices, @project) && !@invoice.is_paid? %>
  <%= up_actions_dropdown(invoice_status_tag(@invoice, "editable")) do %>
    <% collection_invoice_statuses.select{|s| s[1] != Invoice::PAID_INVOICE}.each do |s| -%>
      <%= link_to s[0], {:controller => 'invoices', :action => 'update', :id => @invoice.id, :invoice => {'status_id' => s[1]}, :back_url => invoice_path(@invoice)}, :method => :put, :disabled => (@invoice && s[1] == @invoice.status_id) %>
    <% end -%>
  <% end %>
<% else %>
  <%= invoice_status_tag(@invoice) %>
<% end %>

<div class="issue invoice details <%= 'overdue' if @invoice.overdue? %>">
  <% if InvoicesSettings.public_links? %>
  <div class="public-link contextual">
    <%= link_to l(:label_invoice_public_link), client_view_invoice_path(@invoice, :token => @invoice.token), :class => "icon icon-invoice-public-link" %>
  </div>
  <% end %>
  <div class="subject">
    <h3><%= "#{@invoice.contact.name + ' - ' if @invoice.contact}#{price_to_currency(@invoice.amount, @invoice.currency, :converted => false)}#{' - ' + @invoice.subject unless @invoice.subject.blank?}" %></h3>
  </div>

  <p class="author">
    <%= authoring @invoice.created_at, @invoice.author %>.
    <% if @invoice.created_at != @invoice.updated_at %>
    <%= l(:label_updated_time, time_tag(@invoice.updated_at)).html_safe %>.
    <% end %>
  </p>

  <%= render :partial => 'invoices/attributes', :locals => {:invoice => @invoice} %>

  <hr />
  <p><strong><%= l(:label_invoice_lines) %></strong></p>
  <div class="invoice-lines">
  <%= render :partial => 'invoices/invoice_lines', :locals => {:invoice => @invoice} %>
  </div>

  <%= call_hook(:view_invoices_show_lines_bottom, :invoice => @invoice) %>
  <% if @invoice.related_issues.any? %>
    <%= render partial: 'invoices/related_issues', locals: { issues: @invoice.related_issues } %>
  <% end %>
  <% if @invoice.is_recurring || @invoice.recurring_instance? %>
    <hr />
    <table class="recurring-lines">
      <tr class="recurring-total">
        <th class="label"><%= label_with_currency(:field_invoice_recurring_total, @invoice.currency) %>:</th>
        <th class="value"><%= price_to_currency(@invoice.recurring_instances_sum, @invoice.currency) %></th>
      </tr>
      <tr class="recurring-total">
        <th class="label"><%= label_with_currency(:field_invoice_recurring_due_total, @invoice.currency) %>:</th>
        <th class="label"><%= price_to_currency(@invoice.recurring_instances_due_sum, @invoice.currency) %></th>
      </tr>
    </table>
  <% end %>
  <% if @invoice.attachments.any? -%>
  <hr />
  <%= link_to_attachments @invoice, :thumbnails => true %>
  <% end %>

</div>

<%= render_tabs invoice_tabs, invoice_default_tab if @payments.present? || @comments.present? %>

<% if @invoice.commentable? %>
  <p><%= toggle_link l(:label_comment_add), "add_comment_form", :focus => "comment_comments" %></p>
  <%= form_tag({:controller => 'invoice_comments', :action => 'create', :id => @invoice}, :id => "add_comment_form", :style => "display:none;") do %>
    <%= hidden_field_tag 'back_url', invoice_path(@invoice, tab: 'comments') %>
    <div class="box">
      <%= text_area 'comment', 'comments', :cols => 80, :rows => 15, :class => 'wiki-edit' %>
      <%= wikitoolbar_for 'comment_comments' %>
    </div>
    <p><%= submit_tag l(:button_add) %></p>
  <% end %>
<% end %>

<% content_for :sidebar do %>
  <div class="contact-card small-card">
    <h3><%= l(:label_contact) %></h3>
    <%= render :partial => 'contacts/contact_card', :object => @invoice.contact %>
  </div>
  <%= render :partial => 'stat_invoiced' %>
  <%= render :partial => 'stat_status' %>
<% end if @invoice.contact %>

<% html_title "#{l(:label_invoice)} ##{@invoice.number}" %>

<% content_for :header_tags do %>
	<meta name = "format-detection" content = "telephone=no">
  <%= javascript_include_tag :invoices, plugin: 'redmine_contacts_invoices' %>
<% end %>
