<table id="saved-items" class="list">
  <thead>
  <tr>
    <th>#</th>
    <th><%= l(:field_invoice_number) %></th>
    <th><%= l(:field_invoice_date) %></th>
    <th><%= l(:field_invoice_status) %></th>
    <th><%= l(:field_invoice_due_date) %></th>
    <th><%= l(:field_invoice_contact) %></th>
    <th><%= l(:field_invoice_amount) %></th>
    <th><%= l(:field_invoice_currency) %></th>
    <th><%= l(:field_invoice_discount) %></th>
    <th><%= l(:field_invoice_subject) %></th>
    <th><%= l(:field_invoice_assigned_to) %></th>
  </tr>
  </thead>
  <tbody>
  <% saved_objects.each do |invoice| %>
  <tr>
    <td id="invoice-<%= invoice.id %>"><%= link_to invoice.id, invoice_path(invoice) %></td>
    <td><%= invoice.number %></td>
    <td><%= format_date(invoice.invoice_date) %></td>
    <td><%= invoice.status %></td>
    <td><%= format_date(invoice.due_date) %></td>
    <td><%= invoice.contact %></td>
    <td><%= invoice.amount %></td>
    <td><%= invoice.currency %></td>
    <td><%= invoice.discount %></td>
    <td><%= invoice.subject %></td>
    <td><%= invoice.assigned_to %></td>
  </tr>
  <% end %>
  </tbody>
</table>
